@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

:root{
    --alt-blue-color: #1f2633;
    --dark-blue-color: #293241;
    --hard-blue-color: #98c1d9;
    --light-blue-color: #e0fbfc;
    --orange-color: #ee6c4d;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--dark-blue-color);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    overflow: hidden;
}


header{
    background-color: var(--alt-blue-color);
    height: 50px;
    width: 100vw;
    position:fixed;
    box-shadow: 0px 2px rgb(32, 32, 32);
    display: flex;
    align-items: center;
    top: 0px;   
}

header a{
    text-decoration: none;
}

.headerContainerList{
    padding-left: 30px;
}

.headerContainerList ul{
    list-style-type: none;
    
}

.headerContainerList ul li{
    color: whitesmoke;
    
}

.headerContainerList ul li h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.8rem;
    color: rgb(233, 233, 233);
}

main{
    margin-top: 70px;
    display: flex;
    height: 630px;
    flex-direction: row;
    justify-content: center;

}

.sideContainer{
    height: 100%;
    width: 260px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: var(--orange-color);
    order: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



.sideContainer::-webkit-scrollbar {
    display: none;
  }


.sideContainerList ul{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    list-style-type: none;
}


.sideContainer a{
    text-decoration: none;
    transition:  0.3s ease-in-out;
    
}

.sideContainer a:hover{
    background-color: #e65d3b;
    transform: scale(1.1);
}



.sideContainer ul li{
    margin: 0px 10px;
    padding: 10px 5px;
    border-bottom: 1px whitesmoke solid;
    
}

.listTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: whitesmoke;
    

}

.listSubtitle{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    color: whitesmoke;
    
}

.listTest{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    color: whitesmoke;
}

.mainContainer{
    height: 100%;
    width: 1000px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: var(--hard-blue-color);
    order: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



.mainContainer::-webkit-scrollbar {
    display: none;
}

.mainContainerTitle{
    margin: 10px 30px;
    border-bottom: 2px whitesmoke solid;
}

.mainContainerTitle h2{
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
    font-size: 3.5rem;
    font-weight: bolder;
    padding: 10px 0px;
}

.mainContainerContent{
    padding: 10px 35px;
    margin-bottom: 30px;
}

.mainContainerContent h3{
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 10px 0px;
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

iframe{
    margin: 0 auto;
}


.graph{
    display: flex;
    justify-content: center;
    height: 45vh;
    margin-bottom: 20px;
}

.graph img{
    transition: ease-in-out 0.3s;
}

.graph :hover{
    transform: scale(1.05);
}

.WIP{
    margin-bottom: 0px;
}



pre{
    background: #F7F6F3;
    border: 1px solid #F7F6F3;
    border-left: 3px solid #8d8d8d;
    color: #666;
    padding-top: 15px;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.3;
    overflow: auto;
    margin-bottom: 15px;
}

.mainContainerContentImages{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.mainContainerContentImages picture{
    display: flex;
    flex-direction: column;
}



.mainContainerContentImages span{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-self: center;
    font-size: 1.7rem;
    margin-top: 5px;
}

.mainContainerContentImages img{
    height: 120px;
    width: 120px;
    transition: ease-in-out 0.3s;
}

.mainContainerContentImages img:hover{
    transform: scale(1.1);
}

.mainContainerContent p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.30;
    text-align: justify;
    margin-bottom: 15px;
}

.mainContainerContent ul li{
    list-style-type: none;
}

.maintenance p{
    font-size: 3rem;
    text-align: center;
}


